* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  padding-top: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
}

header {
  display: flex;
  width: 90vw;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
  color: white;
  max-width: 900px;
}

.score-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.score-container .number {
  font-size: xx-large;
  text-align: center;
}

.score {
  color: hsl(229, 64%, 46%);
}

.number {
  color: hsl(229, 25%, 31%);
}

.container {
  background-position: center;
  margin: 10vh auto;
  max-width: 600px;
  max-height: 600px;
}

.containerNone {
  display: none;
}

.circle {
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vmax;
  width: 13vmax;
  padding: 8px;
  border: solid 0.5em green;
}

.container img {
  width: 70%;
  height: 70%;
}

.top {
  display: flex;
  justify-content: center;
}

.midle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;
  margin-top: 4%;
  padding: 0 5% 0 5%;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
}

.rock {
  border: solid 0.5em hsl(349, 71%, 52%);
}

.spock {
  border: solid 0.5em hsl(39, 89%, 49%);
}

.lizard {
  border: solid 0.5em hsl(261, 73%, 60%);
}

.paper {
  border: solid 0.5em hsl(230, 89%, 62%);
}

.scissors {
  border: solid 0.5em hsl(39, 89%, 49%);
}

footer {
  text-align: center;
}

.button {
  background-color: hsl(237, 49%, 15%);
  height: 5vh;
  width: 30%;
  padding: 2%;
  border: 2px solid hsl(217, 16%, 45%);
  color: white;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: large;
}

@media (min-width: 900px) {
  .circle {
    width: 8vmax;
    height: 8vmax;
  }

  header {
    font-size: x-large;
  }

  .container {
    margin-top: 40px;
  }

  .button {
    width: 150px;
    margin-top: 0;
    padding: 0;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: right;
    padding: 20px;
  }

.midle {
  margin-bottom: 7%;
  margin-top: 0;
}
}

.ResultsNone {
  display: none;
}

